<h2><b>THING {{model.id}}</b></h2>
Title: {{model.title}}<br/>
Description: {{model.description}}<br/><br/>
{{#link-to 'things.thing.edit' model}}EDIT{{/link-to}}
<br/><br/>
{{#link-to 'things'}}BACK TO THINGS{{/link-to}}
