<h3>New Thing:</h3>
<table>
  <tr>
    <td>Name:</td>
    <td>{{input value=newTitle}}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{input value=newDescription}}</td>
  </tr>
</table>
<br/>
<button {{action 'save'}}>SAVE</button>
